src/main/mule/z-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="9371ec29-03a1-4ba5-9cd2-2d808258d8f0" file="properties\dev.yaml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ce09b3c5-2223-4a70-8249-a6ab03d0780b" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<global-property doc:name="Global Property" doc:id="59230a97-054d-4f55-80bb-b33bdc57c9f6" name="env" value="dev" />
	<flow name="z-sys-apiFlow" doc:id="6db8e768-a430-49cd-80e5-c6c688c89027" >
		<http:listener doc:name="Listener" doc:id="7085d4d3-d8e2-43ad-bc44-68718dfa93d2" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<ee:transform doc:name="Transform Message" doc:id="1f046ce1-538a-43eb-a193-523b7b5c99f5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"WE are working on APILed connectivity"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="81491a4b-5ece-4fa8-ad1d-4c6fbc51a4cc" message='#["successful"]' />
	</flow>
</mule>
